.blogpost {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  margin: 1em 0;
  background-color: #eee;
}

.blogpost:nth-child(2n) {
  background-color: #404041;
  color: #fff;
}

.blogpost:nth-child(2n) h2 {
  color: #fff;
}

.blogpost:nth-child(2n) > .read-more {
  border: 1px solid #fff;
  color: #fff;
}

.blogpost:nth-last-child(1) {
  border: none;
}

.blogpost-header {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1em 0;
}

.blogpost-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogpost-content > img {
  min-width: 100%;
  height: auto;
  width: 100%;
}

.blogpost > .read-more {
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid #404041;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  align-self: stretch;
  text-align: center;
}

.blogpost > .read-more:hover {
  background-color: #404041;
  color: #fff;
}

.blogpost:nth-child(2n) > .read-more:hover {
  background-color: #fff;
  color: #404041;
}

.blogpost > .read-more:focus {
  outline: none;
}
