/** styles for screens bigger than 900px */
@media screen and (min-width: 900px) {
  h1 {
    font-size: 4em;
  }
  #introduction {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #intro-text {
    max-width: 50vw;
  }
  #blogpost-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.8em;
  }
  .blogpost {
    border: 1px solid #404041;
    transition: all 0.2s ease-in;
  }
  .blogpost:hover {
    transform: scale(1.1);
  }
}
