/** styles for screens bigger than 900px */
@media screen and (min-width: 900px) {
  h1 {
    font-size: 4em;
  }
  .blogpost-content {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
    grid-gap: 2.5em;
  }
  .blogpost-text {
    background-color: #fff;
    padding: 1.5em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
